volumes:
  overpass-db:

version: "3.8"
services:
  overpass:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: overpass
    restart: always
    ports:
      - 8050:80
    volumes:
      - ./overpass-db:/db
    environment:
      - OVERPASS_META=yes
      - OVERPASS_MODE=serve
      - OVERPASS_PLANET_URL=http://download.geofabrik.de/africa/nigeria-latest.osm.bz2
      - OVERPASS_DIFF_URL=http://download.openstreetmap.fr/replication/africa/nigeria/minute/
      - OVERPASS_UPDATE_SLEEP=3600
      - OVERPASS_USE_AREAS=false
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "curl --noproxy '*' -qf 'http://localhost/api/interpreter?data=[out:json];node(1);out;' | jq '.generator' |grep -q Overpass || exit 1",
        ]
      start_period: 48h
